<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Merge Util</title>
    </head>
    <body>
        <h3>Выбирете файлы для загрузки</h3>
        <form method="post" th:action="@{process}" enctype="multipart/form-data">
            <input type="file" id="file-input" name="inputFiles" multiple/>
            <input type="submit" value="Обработать"/>
        </form>
    </body>
</html>